<div class="container-fluid main-container">
    <h1 class="display-4 text-center header-label">DRAG <span class="text-danger">MULTIPLE FILES </span>UPLOADER</h1>
    <hr>
    <div class="row row-first">
        <div class="col-md-12">
            <app-upload-files-drag></app-upload-files-drag>
        </div>
        
    </div>
    <div class="row">
        <div class="col-md-5">
                <app-uploaded-file-list></app-uploaded-file-list>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-5">
                <app-upload-files-list></app-upload-files-list>
        </div>
        
    </div>
</div>
